[submodule "external/protobuf-c"]
	path = external/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "external/PcapPlusPlus"]
	path = external/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "external/rapidyaml"]
	path = external/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
