[submodule "external/protobuf-c"]
	path = external/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "external/PcapPlusPlus"]
	path = external/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "external/rapidyaml"]
	path = external/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "external/mininet"]
	path = external/mininet
	url = https://github.com/mininet/mininet.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/FTXUI"]
	path = external/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "tests/act"]
	path = tests/act
	url = https://github.com/nektos/act.git
[submodule "external/libprotobuf-mutator"]
	path = external/libprotobuf-mutator
	url = https://github.com/google/libprotobuf-mutator.git
